<<<<<<< HEAD
// main: ../style.less

.user {
  display: flex;
}

.user__avatar {
  width: 57px;
  height: 57px;
}

.user__avatar--photo {
  border-radius: 50%;
}

.user__content {
  margin-left: 9px;
}

.user__name {
  font-size: 1.06rem;
  color: @black;
  font-weight: 700;
  line-height: 1.2rem;
}

.user__prof {
  font-size: 0.8rem;
  color: rgba(@black, 0.7);
  padding-top: 4px;
}
=======
// main: ../style.less

.user {
    display: flex;
}

.user__avatar {
    width: 57px;
    height: 57px;
}

.user__avatar--photo {
    border-radius: 50%;
}

.user__content {
    margin-left: 9px;
}

.user__name {
    font-size: 1.06rem;
    color: @black;
    font-weight: 700;
    line-height: 1.2rem;
}

.user__prof {
    font-size: 0.8rem;
    color: rgba(@black, 0.7);
    padding-top: 4px;
}
>>>>>>> bccc77c7be17a332e4f7e1a8f1712e134f782579
