<<<<<<< HEAD
// main: ../style.less

.works {
  margin-top: 2.7rem;
}

.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
}

.works__nav-link {
  margin: 0 1.2rem;
  font-size: 0.8rem;
  color: fade(@black, 70%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
=======
// main: ../style.less

.works {
    margin-top: 2.7rem;
}

.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
}

.works__nav-link {
    margin: 0 1.2rem;
    font-size: 0.8rem;
    color: fade(@black, 70%);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
>>>>>>> bccc77c7be17a332e4f7e1a8f1712e134f782579
